<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{{#staticUrls}}
    <url>
        <loc>{{.}}</loc>
    </url>
{{/staticUrls}}
{{#jewelUrls}}
    <url>
        <loc>{{.}}</loc>
    </url>
{{/jewelUrls}}
</urlset>
